@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/material-icons/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding: 10px;
}


nav {
  background-color: #546e7a; }

.header {
  color: #78909c;
  font-weight: 300; }

.page-footer {
  padding-top: 0;
  background-color: #eeeeee; }

.heatMap,
.heatMap_small{
  width: 100%;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 2px;
  margin-bottom: 20px;
}
.heatMap{
  height: 450px;
}
.heatMap_legend{
  height: 400px;
}
.heatMap_small{
  height: 250px;
}
.heatMapContainer{
  float: left;
  border: 1px solid rgba(0,0,0,0.1);

}
.heatMap_small .heatMapContainer.active{
  background-color: #26a69a;
}
.heatMap_small .heatMapContainer:hover{
  background-color: #26a69a;
}
